[% INCLUDE locations/page_header.tt %]

<div class="container">
  [% INCLUDE locations/tabs.tt %]

  [% IF despesas_funcao.size > 0 %]
  <h2>Orçamento Público Executado 2012</h2>

  <p><strong style="color: red">Fonte</strong>: <a href="http://tesouro.fazenda.gov.br/contas-anuais">Ministério da Fazenda, Tesouro Nacional, FINBRA</a></p>

  <p>Soma dos valores abaixo: <strong>R$ [% format_money(despesas_funcao_sum) %]</strong> (valores de 2012)</p>
  
  <table class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Função</th>
        <th style="text-align: right; font-family: mono">% da soma</th>
        <th style="text-align: right; font-family: mono">Valor</th>
      </tr>
    </thead>
    <tbody>
      [%- FOREACH despesa_funcao IN despesas_funcao %]
      <tr>
        <td>[% despesa_funcao.funcao_codigo %]</td>
        <td>[% despesa_funcao.funcao_nome %]</td>
        <td style="text-align: right; font-family: mono">[% format_money(despesa_funcao.porcentagem) %]</td>
        <td style="text-align: right; font-family: mono">[% format_money(despesa_funcao.valor) %]</td>
      </tr>
      [%- END %]
    </tbody>
  </table>
  [% ELSE %]
  <h2>Orçamento Público</h2>
  <p>Ainda não dispomos de dados sobre o orçamento público dessa UF.</p>
  [% END %]
</div>
