<ul class="nav nav-tabs nav-justified" style="margin-bottom: 15px">

  <li role="presentation" [% IF c.action.name == 'details' %]class="active"[% END %]>
    <a href="[% c.uri_for_action('/locations/details', [location.id]) %]">Resumo</a></li>
  
  <li role="presentation" [% IF c.action.name == 'public_budget' %]class="active"[% END %]>
    <a href="[% c.uri_for_action('/locations/public_budget', [location.id]) %]">Orçamento público</a></li>

</ul>
