[% INCLUDE politicians/page_header.tt %]

<div class="container">
  [% INCLUDE politicians/tabs.tt %]

  <h2>Postagens relacionadas</h2>
  
  [% IF posts.size > 0 %]
  
  [%- FOREACH post IN posts %]
  [% INCLUDE posts/post.tt %]
  [%- END %]

  [% ELSE %]

  <p>Não há nenhuma postagem relacionada a este político.</p>

  [% END %]
</div>
