[% INCLUDE politicians/page_header.tt %]

<div class="container">
  [% INCLUDE politicians/tabs.tt %]
  <h2>Resumo</h2>

  <dl class="dl-horizontal">
    <dt>Nome</dt>
    <dd>[% politician.name %]</dd>
    <dt>Partido</dt>
    <dd>[% politician.party %]</dd>
    <dt>Candidaturas</dt>
    <dd>
      <ul>
        [% FOREACH candidature IN politician.candidatures %]
        <li>[% candidature.as_str %]</li>
        [% END %]
      </ul>
    </dd>
  </dl>

</div>
