[% INCLUDE financiers/page_header.tt %]

<div class="container">
  [% INCLUDE financiers/tabs.tt %]
  <h2>Financiamento eleitoral [% year %]</h2>  

  <p><strong style="color: red">Fonte</strong>:
    <a href="http://www.tse.jus.br/eleicoes/estatisticas/repositorio-de-dados-eleitorais">
      Tribunal Superior Eleitoral</a></p>
  
  <p>Total geral de doações: <strong>R$ [% format_money(donations_sum) %]</strong> (valores de [% year %])</p>

  <p>Total de doações a candidatos: <strong>R$ [% format_money(candidates_donations_sum) %]</strong> (valores de [% year %])</p>
  <p>Total de doações a comitês: <strong>R$ [% format_money(committees_donations_sum) %]</strong> (valores de [% year %])</p>
  <p>Total de doações a partidos: <strong>R$ [% format_money(parties_donations_sum) %]</strong> (valores de [% year %])</p>

  <h2>Para candidatos</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>Recebedor</th>
        <th>Tipo</th>
        <th style="text-align: right">Valor (R$ de [% year %])</th>
      </tr>
    </thead>
    <tbody>
      [% FOREACH donation IN candidates_donations %]
      <tr>
        <td>[% donation.candidato_nome %] &ndash; [% donation.partido_sigla %]</td>
        <td>[% donation.receita_tipo %]</td>
        <td style="text-align: right; font-family: mono">[% format_money(donation.receita_valor) %]</td>
      </tr>
      [% END %]
    </tbody>
  </table>
  
  <h2>Para comitês financeiros eleitorais</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>Recebedor</th>
        <th>Tipo</th>
        <th style="text-align: right">Valor (R$ de [% year %])</th>
      </tr>
    </thead>
    <tbody>
      [% FOREACH donation IN committees_donations %]
      <tr>
        <td>[% donation.comite_tipo %] - [% donation.partido_sigla %]</td>
        <td>[% donation.receita_tipo %]</td>
        <td style="text-align: right; font-family: mono">[% format_money(donation.receita_valor) %]</td>
      </tr>
      [% END %]
    </tbody>
  </table>
  
  <h2>Para partidos políticos</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>Recebedor</th>
        <th>Tipo</th>
        <th style="text-align: right">Valor (R$ de [% year %])</th>
      </tr>
    </thead>
    <tbody>
      [% FOREACH donation IN parties_donations %]
      <tr>
        <td>[% donation.diretorio_tipo %] - [% donation.partido_sigla %]</td>
        <td>[% donation.receita_tipo %]</td>
        <td style="text-align: right; font-family: mono">[% format_money(donation.receita_valor) %]</td>
      </tr>
      [% END %]
    </tbody>
  </table>
</div>
